<template>
  <v-app>
  <v-container
    fluid
    class="primary h__100 float-to-center"
    >
    <div class="btn-lang">
      <span class="white--text mr-3">Languange</span>
      <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          class="primary--text capitalize"
          v-bind="attrs"
          v-on="on"
        >
          English
        </v-btn>
      </template>
      <v-list>
        <v-list-item>
          <v-list-item-title>Indonesia</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    </div>
    <v-card
      width="35%"
      class="py-12 px-16"
      >
      <v-form v-model="valid">
        <v-card-title class="float-to-center">
          <v-img
            :src="image"
            max-width="50%"
            contain
          ></v-img>
        </v-card-title>
        <v-card-text>
          <h3 class="text-center my-3 mb-6 grey--text">Your one stop platform to manage all of your field service management</h3>
          <v-text-field outlined dense hide-details placeholder="Enter your organization name" ></v-text-field>
        </v-card-text>
        <v-card-text >
          <v-btn
            class="primary white--text capitalize "
            block
          >Login</v-btn>
          <p class="text-center mt-6 mb-1">Not registered yet? <span class="primary--text">Contact us</span> for more info</p>
          <p class="grey--text text-center mb-0">OR</p>
          <p class="text-center mt-1">Call Us Now: <span class="primary--text">+62 812-1133-5608</span></p>
        </v-card-text>
      </v-form>
    </v-card>
  </v-container>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      image: 'https://taskdev.mile.app/69ece7b1819e760b63623e810922b59e.png',
      valid: false
    }
  }
}
</script>

<style>
@import './style.scss';
</style>
