.h__100{
    height: 100vh;
}
.float-to-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.capitalize{
    text-transform: capitalize!important;
}

.btn-lang{
    position: absolute;
    top: 20px;
    right: 30px;
}